/* Updated 08/11/24 */

/* Removal */

#clientExit,
#aMerger,
#rankedSoonTm,
#newsHolder,
#youNewDiv,
#onetrust-consent-sdk,
.weapKey,
#aHolder,
.imageButton,
#editorBtnM,
.headerBarRight .verticalSeparator,
#seasonLabel,
.krSocial,
#mailCount,
#voiceDisplay,
#bubbleContainer,
.endAHolder,
#igXPBar,
.button.small.buttonO img,
#tlInfHold,
#loadEditrBtn,
.settingsBtn[onclick="openOneTrust()"],
.menuSocialB,
#topRightAdHolder,
.setSugBox2 {
  display: none !important;
}

.button,
.button:hover,
.quickJoin,
.setHed,
.sliderVal {
  border: hidden !important;
}

#streamContainer {
  background-color: transparent;
}

/* COMP */

iframe#bigMFeatVid,
.itemOwn,
.itemSea,
#cmpPartnerImg,
#cmpLeavInfo,
#cmpDatBox,
#cmpStatBox .material-icons,
#cmpStatBox .material-icons + span {
  display: none !important;
}
